spring:
  application:
    name: gateway-demo
  cloud:
    gateway:
      routes:
        # 静态路由配置（可选，可以全部通过Nacos管理）
        - id: local_hello_route
          uri: http://localhost:${server.port}
          predicates:
            - Path=/local/**
          filters:
            - RewritePath=/local/(?<segment>.*), /api/${segment}
        #- id: hello_route
        #  uri: http://localhost:${server.port}
        # predicates:
        #  - Path=/hello
        #filters:
        #  - SetPath=/actuator/health
    nacos:
      discovery:
        server-addr: 82.156.139.106:8848  # Nacos服务器地址
      config:
        server-addr: 82.156.139.106:8848  # Nacos配置服务器地址
        file-extension: yaml         # 配置文件格式
        namespace: 945ac765-c102-487e-aa7a-f88db8103d66  # 指定你的命名空间ID
        
  # 启用从Nacos动态刷新路由配置
  config:
    import:
      - optional:nacos:gateway-dynamic-route.yaml
      - classpath:custom-config.properties

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always